html, body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #404040;
    color: #E8E8E8;
}

a:link {
    color: #8AB7FF;
}

a:visited {
    color: #8A94FF;
}

a:active, a:hover {
    color: #FF8A9D;
}

:focus {
    outline: none;
    box-shadow: 0px 0px 0.2em 0.1em orange;
}

.clickHelp, .clickEdit {
    color: #E8E8E8 !important;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

/* http://stackoverflow.com/a/14329779/1524507 */
.clickHelp::after, .clickEdit::after {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0.1em;
    height: 0px;
    border-bottom: 0.09em dotted;
    content: '';
    color: #98B1B3;
}

#messageContainer {
    background: rgba(180, 152, 39, 0.75);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0.2em;
    z-index: 10;
}

#bodyContainer {
    text-align: center;
    width: 76.4em;
    margin: auto;
}

#extraUrls {
    margin-top: 1em;
    margin-bottom: 1em;
}

#footer {
    max-width: 40em;
    margin: auto;
}

#pokemonSelectionBlue, #pokemonSelectionRed {
    display: inline-block;
    padding: 0.25em;
}

#pokemonSelection {
    /* work around so that the rotated diamond does not cover up the selection div */
    z-index: 1;
    position: relative;
}

#helpDialog {
    font-family: 'Roboto Condensed', sans-serif;
}

.moveDescriptionEffectLong {
    white-space: pre-line;
}

.blueCorner {
    background: #27619E;
}

.redCorner {
    background: #9E2A27;
}

.pokemonIcon {
    height: 2em;
    /* http://stackoverflow.com/q/3900436/1524507 */
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

.pokemonIconSlot-0, .pokemonIconSlot-1, .pokemonIconSlot-2 {
    transform: scaleX(-1);
}

.pokemonIcon-focus {
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-name: jump;
    -webkit-animation-name: jump;
    animation-name: jump;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    position: relative;
}

.pokemonIconChart {
}

@-moz-keyframes jump {
  from { top: 0em; }
  to { top: -0.5em; }
}

@-webkit-keyframes jump {
  from { top: 0em; }
  to { top: -0.5em; }
}

@keyframes jump {
  from { top: 0em; }
  to { top: -0.5em; }
}

.pokemonGender-f {
    color: pink;
}

.pokemonGender-m {
    color: cyan;
}

.pokemonGender-- {
    display: none;
}

.pokemonHp {
    color: #B6DCFF;
}

.pokemonSpeed {
    color: #FFE8B6;
}

.pokemonAttack {
    color: #FFCAB6;
}

.pokemonDefense {
    color: #B9FFB6;
}

.pokemonSpecialAttack {
    color: #E6B6A4;
}

.pokemonSpecialDefense {
    color: #A7E6A4;
}

.damageCategory-physical {
    color: #FF8E87;
}

.damageCategory-special {
    color: #8BFF87;
}

.damageCategory-status {
    color: #879EFF;
}

span[class|="pokemonType"] {
    border-radius: 0.25em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-shadow: 0px 0px 0.1em black;
    box-shadow: 0px 0px 0.1em black;
    line-height: 1.2em;
}

/* http://www.epidemicjohto.com/t882-type-colors-hex-colors */
.pokemonType-normal {
    background: #A8A77A;
}

.pokemonType-fire {
    background: #EE8130;
}

.pokemonType-water {
    background: #6390F0;
}

.pokemonType-electric {
    background: #F7D02C;
}

.pokemonType-grass {
    background: #7AC74C;
}

.pokemonType-ice {
    background: #96D9D6;
}

.pokemonType-fighting {
    background: #C22E28;
}

.pokemonType-poison {
    background: #A33EA1;
}

.pokemonType-ground {
    background: #E2BF65;
}

.pokemonType-flying {
    background: #A98FF3;
}

.pokemonType-psychic {
    background: #F95587;
}

.pokemonType-bug {
    background: #A6B91A;
}

.pokemonType-rock {
    background: #B6A136;
}

.pokemonType-ghost {
    background: #735797;
}

.pokemonType-dragon {
    background: #6F35FC;
}

.pokemonType-dark {
    background: #705746;
}

.pokemonType-steel {
    background: #B7B7CE;
}

.pokemonType-fairy {
    background: #D685AD;
}

.dimLabel {
    font-size: small;
    color: #C7C7C7;
}

#pokemonDiamond {
    padding-bottom: 10em;
}

.matchupChart {
    border-collapse: collapse;
    text-align: center;
    width: 60em;
    height: 60em;
    margin: auto;
    transform: scale(0.9) rotate(45deg);
}

.matchupChart td {
    text-align: center;
    vertical-align: middle;
}

.matchupChartPokemonLabel, .matchupChartMoveLabel, .matchupChartMoveDivider, .matchupChartEfficacy {
    white-space: nowrap;
}

.matchupChartPokemonLabelContainer-left {
    width: 4.5em;
    height: 15em;
}

.matchupChartPokemonLabelContainer-top {
    width: 15em;
    height: 4.5em;
}

.matchupChartPokemonLabelSubContainer-left {
    width: 15em;
    height: 4.5em;
    transform: translateY(15em) rotate(-90deg);
    transform-origin: top left;
}

.matchupChartMoveLabelContainer-top, .matchupChartMoveDividerContainer-top {
    width: 3em;
    height: 10.5em;
}

.matchupChartMoveLabelSubContainer-top, .matchupChartMoveDividerSubContainer-top {
    width: 10.5em;
    height: 3em;
    transform: translateY(10em) rotate(-90deg);
    transform-origin: top left;
}

.matchupChartMoveLabelSubContainer-left, .matchupChartMoveDividerSubContainer-left {
    width: 10.5em;
    height: 3em;
}

.matchupChartEfficacyContainer-top {
    width: 3em;
    height: 3em;
}

.matchupChartEfficacySubContainer-top {
    width: 3em;
    height: 3em;
    transform: translateY(3em) rotate(-90deg);
    transform-origin: top left;
}

.matchupChartEfficacyContainer-left {
    width: 100%;
    height: 3em;
}

.matchupChartMoveLabelCell-left, .matchupChartEfficacyCell-left {
    border-top: 0.1em solid #5E5E5E;
    border-bottom: 0.1em solid #5E5E5E;
}

.matchupChartMoveLabelCell-top, .matchupChartEfficacyCell-top {
    border-left: 0.1em solid #5E5E5E;
    border-right: 0.1em solid #5E5E5E;
}

.matchupChartDividerCell-last {
    border-bottom: 0.1em solid #5E5E5E;
    border-right: 0.1em solid #5E5E5E;
}

.matchupChartDividerCellSpeed-blue {
    background: #27619E;
}

.matchupChartDividerCellSpeed-red {
    background: #9E2A27;
}

.matchupChartDividerCellSpeed-tie {
    background: #3B9E27;
}

.miniPokemonTypeIcon {
    /*width: 0.5em;
    height: 0.7em;*/
    min-width: 0.7em;
    min-height: 0.7em;
    display: inline-block;
    margin: 0.1em;
    font-size: 0.7em;
    text-align: center;
}

.damageEfficacy-0 {
    color: #DE5F59;
}

.damageEfficacy-25, .damageEfficacy-50 {
    color: #E6DC8A;
}

.damageEfficacy-200, .damageEfficacy-400 {
    color: #BFE6BC;
}

.movePriority-high {
    color: #BFE6BC;
}

.movePriority-low {
    color: #E6DC8A;
}

.pokemonEditContainer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
}

.editFormRow {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.editFormRow input, .editFormRow select {
    display: block;
    width: 10em;
}
